@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');

*{
    font-family: 'PT Sans Caption', sans-serif;
}

.background-auth{
    background-color: #070F2B;
}

.box-newPassword{
    width: 800px;
    height: fit-content;
    padding-bottom: 15px;
    background-color: #535C91;
    color: white;
    border-radius: 20px;
}

.title_page{
    font-size: 32px;
    font-weight: bold;
}

.horizontal-line{
    border-color: white; 
    margin-top: 0px;
    width: 200px;
}

.description{
    text-align: center;
    width: 350px;
}

.btn-cancel{
    width: 100px !important;
    background-color: red !important;
    color: white !important;
    border-radius: 20px !important;
    box-shadow: 1px 4px 2px #474747 !important;
}

.btn-cancel:hover{
    background-color: #981111 !important;
}

.btn-next{
    background-color:#7074D3 !important;
    width: 100px !important;
    color: white !important;
    border-radius: 20px !important;
    box-shadow: 1px 4px 2px #474747 !important;
}

.btn-next:hover{
    background-color: #35387A !important;
}

input[type="email"]{
    border-radius: 10px;
}

.button-edit {
    background-color: #1B1A55 !important;
    border-radius: 20px !important;
    box-shadow: 1px 4px 2px #474747 !important;
    color: white !important;
}

.button-edit:enabled:hover {
    background-color: #5B5A9B !important;
}
.button-edit:disabled:hover{
    cursor: not-allowed;
}
.notFound{
    margin-top: 2px;
    font-size: 12px;
    color: yellow;
}

@media only screen and (max-width: 768px) {

    .box-newPassword{
        width: 500px;
    }
    .description{
        width: 320px;
    }
    .title_page{
        font-size: 24px;
    }
    .horizontal-line{
        width: 160px;
    }
    input[type="text"]{
        border-radius: 10px;
        font-size: 14px;
        width: 220px;
    }
    .form-css{
        font-size: 14px;
    }
    .btn-cancel{
        font-size: 14px !important;
        font-weight: bold !important;
        width: 80px !important;
    }
    .btn-next{
        font-size: 14px !important;
        width: 80px !important;
        font-weight: bold !important;

    }
}

