<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lessons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a59b9b09ab.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>


    <title>Spring Boot Learn</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #070F2B; font-weight:bold;width: 100%;">
        <a class="navbar-brand" href="/home">
            <img class="logo" src="/Assets/logoSpringBoot.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item-sb ">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item-sb ">
                    <a class="nav-link" href="/leaderboard">Leaderboard</a>
                </li>
                <li class="nav-item-sb">
                    <a class="nav-link" href="/profile">
                        <span th:text="${user.name}"></span>
                        <img class="profile-pic" th:src="'/Assets/' + ${user.profilePictureName} + '.png'"/></a>
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/logout" method="get">
                <button type="submit" class="btn btn-outline-danger my-2 my-sm-0">Log Out
                </button>
            </form>
        </div>
    </nav>
    <!-- START BOX MATERI -->
    <div class="row justify-content-center align-items-center" style="margin: 0;">
        <div class="box-lesson">
            <div class="row align-items-center heading-materi" style="margin: 0;">
                <div class="col-md-3">
                    <div class="backBtn">
                        <a style="color: white; font-size: 14px;font-weight: bold;" href="/home"><img
                                src="/Assets/kembali.png" style="width: 25px;margin-right: 10px;">Kembali</a>
                    </div>
                </div>

                <div class="col-md-9" style="margin: 0;padding: 0;">
                    <div class="d-flex justify-content-end" style="margin: 0;">
                        <div class="coin text-center">
                            <img src="/Assets/coin.png" style="width: 25px;" />
                            <span th:text="${user.gold}"></span>
                        </div>
                        <div class="life text-center">
                            <div th:each="i : ${#numbers.sequence(1, 3)}" th:remove="tag">
                                <!-- If i is less than or equal to the count from the database -->
                                <img th:if="${i le user.life}" th:id="'image' + ${i}" th:src="@{/Assets/Life.png}"
                                    alt="Image" style="width: 25px; margin-left: 5px;" /> <!-- Example style -->
                                <!-- If i is greater than the count from the database -->
                                <img th:if="${i gt user.life}" id="other-image" th:src="@{/Assets/emptyLife.png}"
                                    alt="Other Image" style="width: 25px; margin-left: 5px;" /> <!-- Example style -->
                            </div>
                        </div>
                        <!-- Additional content -->
                        <img th:if="${user.life < 3}" id="addLife" src="/Assets/add.png" data-target="#modalTambahLife"
                            data-toggle="modal" style="cursor:pointer;width: 25px;" />
                    </div>
                </div>
            </div>

            <div id="soal3" class="displayLesson show">
                <div class="row justify-content-center align-items-center lesson-title" style="margin: 0;">
                    Memulai dengan Springboot (3/3)
                </div>

                <div class="row justify-content-center align-items-center" style="margin:0">
                    <div class="box-materi">
                        Untuk memulai sebuah aplikasi menggunakan framework Springboot, kita hanya perlu masuk ke
                        website <a target="_blank" href="https://start.spring.io/">https://start.spring.io/ </a> yang
                        dimana halaman website tersebut akan terlihat seperti ini
                        : <br><br>
                        <div class="row" style="margin: 0;margin-bottom: 20px;">
                            <img class="image-lesson" style="margin-left: 0px;"
                                 src="/Assets/C2L3.png"/>
                        </div> <br>
                        Pada bagian “Project”, kita perlu menentukan build manager apa yang akan digunakan untuk
                        aplikasi kita, terdapat beberapa pilihan diantaranya “Gradle-Groovy”, “Gradle-Kotlin”, dan
                        “Maven”.<br> <br>
                        Pada bagian “Language”, kita dapat menentukan bahasa pemrograman untuk aplikasi kita, baik Java,
                        Kotlin, maupun Groovy”. <br> <br>
                        Pada bagian “Spring Boot”, kita akan menentukan versi framework Springboot yang akan digunakan
                        sesuai keinginan kita. <br> <br>
                        Pada bagian “Project Metadata” akan mengisi detail dari setiap field seperti ingin membuat
                        project dalam Java, dan diakhir akan menentukan versi Java sesuai keinginan. <br> <br>
                        Setelah semua terisi dan terpilih, langkah selanjutnya adalah menambah dependency yang
                        diperlukan sesuai kebutuhan aplikasi. <br> <br>
                        Langkah terakhir adalah menekan tombol “Generate” dan framework Springboot akan terunduh dalam
                        format Zip, kemudian kita hanya perlu mengekstrak file tersebut dan membukanya menggunakan IDE
                        masing-masing. <br> <br>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center" style="margin: 0;">
                    <div class="box-question">
                        <form class="answerForm" id="form3">
                            <div class="form-group">
                                <label for="question" th:text="${lessons2.get(1).questions}"></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="answer" id="a" value="a" th:checked="${ansFromUser == 'a'}" disabled>
                                    <label class="form-check-label" for="option1">a. Start.spring.io</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="answer" id="b" value="b" th:checked="${ansFromUser == 'b'}" disabled>
                                    <label class="form-check-label" for="option2">b. Setup.spring.io</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="answer" id="c" value="c" th:checked="${ansFromUser == 'c'}" disabled>
                                    <label class="form-check-label" for="option3">c. Spring.initializr.com</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="answer" id="d" value="d" th:checked="${ansFromUser == 'd'}" disabled>
                                    <label class="form-check-label" for="option4">d. Start.spring.com</label>
                                </div>
                                <input type="hidden" id="ansFromUser" th:value="${ansFromUser}">
                                <input type="hidden" id="ansFromDb" th:value="${ansFromDb}">
                            </div>

                            <div class="lesson-Btn">
                                <div id="afterJawaban2" class="displayBtn" th:if="${lihatc2 == 'tidakLihat'}">
                                    <div class="nextButton">
                                        <button id="rightButton" class="btn button-edit" type="button"
                                                onclick="finish()">Selesai
                                        </button>
                                    </div>
                                </div>
                                <div id="afterJawaban2" class="displayBtnLihat" th:if="${lihatc2 == 'lihat'}">
                                    <div class="prevButton">
                                        <button id="leftButton" class="btn button-edit" type="button"
                                                onclick="prevToLesson2Lihat()">
                                            << Sebelumnya </button>
                                    </div>
                                    <div class="nextButton">
                                        <button id="rightButton" class="btn button-edit" type="button"
                                                onclick="finish()">Kembali ke "Home"
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

    <!-- MODAL Tambah Life -->
    <div class="modal fade" id="modalTambahLife" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="text-align: center;margin: 0 auto;font-weight: bold;">Konfirmasi
                        Penambahan Kesempatan</h5>
                </div>
                <div class="modal-body" style="text-align: center;" th:if="${user.gold >= 20}">
                    <p>Tambah 1 kesempatan?</p>
                    <p>Harga : <img src="/Assets/coin.png" style="width: 20px;"/> 20</p>
                    <p>Gold tersisa : <img src="/Assets/coin.png" style="width: 20px;"/> <span th:text="${user.gold}"></span></p>
                </div>
                <div class="modal-body" style="text-align: center;" th:if="${user.gold < 20}">
                    <p>Gold Anda tidak mencukupi, silakan menunggu pergantian hari untuk penambahan kesempatan</p>
                    <p>Gold tersisa : <img src="/Assets/coin.png" style="width: 20px;"/> <span th:text="${user.gold}"></span></p>
                </div>
                <div class="modal-footer" th:if="${user.gold>=20}">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                    <button type="button" class="btn btn-success" onclick="tambahLife()">Tambah</button>
                </div>
                <div class="modal-footer" th:if="${user.gold < 20}" >
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL PEMBELIAN LIFE -->

    <footer class="footer">
        <div class="row justify-content-center align-items-center" style="width: 100%;margin:0;">
            <h5 style="color: white;margin-top: 20px;">Contact Us</h5>
        </div>
        <div class="row justify-content-center align-items-center" style="width: 100%;margin:0;height: 70px;">
            <a href="mailto:springbootlearn9@gmail.com">
                <p style="font-size: 14px;">springbootlearn9@gmail.com</p>
            </a>
        </div>
        <div class="row justify-content-center align-items-center"
            style="background-color: rgb(0, 0, 0); margin-top: 20px;width: 100%;margin:0">
            <p class="text-muted" style="padding: 5px;font-size: 14px;">Copyright @2024 All Rights Reserved.</p>
        </div>
    </footer>
    <script th:inline="javascript">
        // NEXT TO ANOTHER LESSON
        function finish() {
            window.location.href="/chapter2Finish";
        }
        function prevToLesson2Lihat(){
            window.location.href="/Chapter2/Lesson2/Show";
        }
        function tambahLife(){
            window.location.href ="/tambahLifec2l3Answer";
        }
        function finishLihat(){
            window.location.href = "/home";
        }
        ansDb = document.getElementById('ansFromDb').value;
        ansUser = document.getElementById('ansFromUser').value;

        document.addEventListener('DOMContentLoaded', function() {
            // Get the answer from the database
            var ansFromDb = document.getElementById('ansFromDb').value;

            // Find the radio button corresponding to the answer from the database
            var radioToHighlight = document.querySelector('input[name="answer"][value="' + ansFromDb + '"]');

            // Add highlight class to the parent element of the radio button if found
            if (radioToHighlight) {
                radioToHighlight.parentElement.classList.add('highlight-radio');
            }
        });

    </script>
</body>


</html>