<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lessons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a59b9b09ab.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>Spring Boot Learn</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #070F2B; font-weight:bold;width: 100%;">
    <a class="navbar-brand" href="/home">
        <img class="logo"
             src="/Assets/logoSpringBoot.png" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item-sb">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item-sb ">
                <a class="nav-link" href="/leaderboard">Leaderboard</a>
            </li>
            <li class="nav-item-sb">
                <a class="nav-link" href="/profile">
                    John Doe
                    <img class="profile-pic"
                         src="/Assets/profile.png" /></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button type="button" class="btn btn-outline-danger my-2 my-sm-0"
                    onclick="window.location.href='/login';">Log Out</button>
        </form>
    </div>
</nav>
<!-- START BOX MATERI -->
<div class="row justify-content-center align-items-center" style="margin: 0;">
    <div class="box-lesson">
        <div class="row align-items-center heading-materi" style="margin: 0;">
            <div class="col-md-3">
                <div class="backBtn">
                    <a style="color: white; font-size: 14px;font-weight: bold;" href="/home"><img
                            src="/Assets/kembali.png"
                            style="width: 25px;margin-right: 10px;">Kembali</a>
                </div>
            </div>

            <div class="col-md-9" style="margin: 0;padding: 0;">
                <div class="d-flex justify-content-end" style="margin: 0;">
                    <div class="coin text-center">
                        <img src="/Assets/coin.png"
                             style="width: 25px;" />
                        999
                    </div>
                    <div class="life text-center" data-target="#modalTambahLife" data-toggle="modal"
                         style="cursor:pointer">
                        <img id="life1"
                             src="/Assets/Life.png"
                             style="width: 25px;margin-left: 5px;">
                        <img id="life2"
                             src="/Assets/Life.png"
                             style="width: 25px;margin-left: 5px;">
                        <img id="life3"
                             src="/Assets/emptyLife.png"
                             style="width: 25px;margin-left: 5px;">
                        <img id="addLife"
                             src="/Assets/add.png"
                             style="width: 25px;margin-left: 15px;">
                    </div>
                </div>
            </div>

        </div>

        <div id="soal1" class="displayLesson show">
            <div class="row justify-content-center align-items-center lesson-title" style="margin: 0;">
                Basic - basic Springboot 1 (1/3)
            </div>

            <div class="row justify-content-center align-items-center" style="margin:0">
                <div class="box-materi">
                    Sebelum memulai sebuah aplikasi menggunakan framework Springboot, kita perlu menyiapkan
                    beberapa dependency. Dependency merupakan sebuah modul eksternal yang memuat fungsi-fungsi
                    tertentu untuk mendukung pengembangan aplikasi. Pada framework Springboot, dependency
                    –dependency tersebut dikelola oleh build manager Maven atau Gradle. Pada direktori framework
                    Springboot, seluruh dependency akan disimpan pada file pom.xml apabila menggunakan build manager
                    Maven, dan disimpan pada file build.gradle apabila menggunakan build manager Gradle. Beberapa
                    dependency yang umum digunakan diantaranya adalah <br><br>
                    <p style="text-indent: 20px;">1. Dependency untuk membuat aplikasi web</p>
                    <div class="row" style="margin: 0;margin-bottom: 20px;">
                        <img class="image-lesson"
                             src="https://cdn.discordapp.com/attachments/1218810212824125511/1226449081132519505/image.png?ex=6624ceb7&is=661259b7&hm=42907465cd068303903c805a182d2a3d26fd1514917ade8815a73f95f98b85f3&" />
                    </div>
                    <p style="text-indent: 20px;">2. Dependency untuk akses database menggunakan JPA (Java
                        Persistence API)</p>
                    <div class="row" style="margin: 0;margin-bottom: 20px;">
                        <img class="image-lesson"
                             src="https://cdn.discordapp.com/attachments/1218810212824125511/1226449623187722301/image.png?ex=6624cf38&is=66125a38&hm=db629a7183982d2eaa24448260719d8c003a1ebccecd6082c1ab4f363fb3e64b&" />
                    </div>
                    <p style="text-indent: 20px;">3. Dependency untuk akses database MySQL</p>
                    <div class="row" style="margin: 0;margin-bottom: 20px;">
                        <img class="image-lesson"
                             src="https://cdn.discordapp.com/attachments/1218810212824125511/1226449726409277460/image.png?ex=6624cf51&is=66125a51&hm=22c343c120a7d569f11bacc0eb379188ff1d2b2ba96ae1e23740a22decb57774&" />
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center" style="margin: 0;">
                <div class="box-question">
                    <form>
                        <div class="form-group">
                            <label for="question">Which of the following is the capital of France?</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="a" value="a">
                                <label class="form-check-label" for="option1">a. Modul internal yang memuat
                                    fungsi-fungsi tertentu untuk mendukung pengembangan aplikasi.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="b" value="b">
                                <label class="form-check-label" for="option2">b. Modul Eksternal yang memuat
                                    fungsi-fungsi tertentu untuk mendukung pengembangan aplikasi.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="c" value="c">
                                <label class="form-check-label" for="option3">c. Modul Eksternal yang hanya dapat
                                    digunakan untuk melakukan koneksi ke database</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="d" value="d">
                                <label class="form-check-label" for="option4">d. Merupakan sebuah modul eksternal
                                    yang dikelola oleh build Manager Ant</label>
                            </div>
                        </div>

                        <div class="lesson-Btn">
                            <div id="cekJawaban1" class="displayBtn active" data-target="#modalCekJawaban">
                                <button id="checkAnswerButton" type="button" class="btn button-edit btn-block">Cek
                                    Jawaban</button>
                            </div>
                            <div id="afterJawaban1" class="displayBtn">
                                <div class="prevButton">
                                    <button id="leftButton" class="btn button-edit" disabled>
                                        << Sebelumnya</button>
                                </div>
                                <div class="nextButton">
                                    <button id="rightButton" class="btn button-edit" type="button"
                                            onclick="nextToLesson2()">Selanjutnya >></button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div id="soal2" class="displayLesson">
            <div class="row justify-content-center align-items-center lesson-title" style="margin: 0;">
                Basic - basic Springboot 1 (2/3)
            </div>

            <div class="row justify-content-center align-items-center" style="margin:0">
                <div class="box-materi">
                    Annotation pada Springboot merupakan sebuah tanda yang menggunakan “@” sebagai prefix yang
                    dimana tanda ini mengharuskan sebuah komponen atau class pada springboot berperilaku sesuai
                    dengan tandanya. Penggunaan annotation pada Springboot mempermudah pengembang untuk mengelola
                    kode ataupun menghemat penulisan kode sudah terwakilkan oleh adanya annotation ini. Beberapa
                    contoh penggunaan annotation pada springboot adalah sebagai berikut : <br><br>
                    <p style="text-indent: 20px;">1. Annotation untuk menandakan class utama pada aplikasi.</p>
                    <div class="row" style="margin: 0;margin-bottom: 20px;">
                        <img class="image-lesson"
                             src="https://cdn.discordapp.com/attachments/1218810212824125511/1226452424521420840/image.png?ex=6624d1d4&is=66125cd4&hm=96b98f622bac933612557656c70e051068dbc7a0de38eedc07ba2d880124a620&" />
                    </div>
                    <p style="text-indent: 20px;">2. Annotation untuk melakukan injeksi dependency secara otomatis
                        sesuai dengan dependency pada class atau komponen yang diberikan annotation. </p>
                    <div class="row" style="margin: 0;margin-bottom: 20px;">
                        <img class="image-lesson"
                             src="https://cdn.discordapp.com/attachments/1218810212824125511/1226452448659509248/image.png?ex=6624d1da&is=66125cda&hm=93cc44c8b21f6a11d62ab1ab457cf34178864d48c79143bc3737f505c36ac500&" />
                    </div>
                    <p style="text-indent: 20px;">3. Annotation untuk memberikan handler (Post / Get) terhadap
                        request HTTP yang masuk ke dalam endpoint.</p>
                    <div class="row" style="margin: 0;margin-bottom: 20px;">
                        <img class="image-lesson"
                             src="https://cdn.discordapp.com/attachments/1218810212824125511/1226452465189257296/image.png?ex=6624d1de&is=66125cde&hm=3d2c5cd21f527eb0a151950bade3892e056f8f45bd67322f397791eab2c96808&" />
                        <img class="image-lesson" style="margin-top: 10px;"
                             src="https://cdn.discordapp.com/attachments/1218810212824125511/1226452475519701084/image.png?ex=6624d1e0&is=66125ce0&hm=0280f4e77f8e0490515263c58f0b003f1e237f00905015291b4933f86978ecee&" />
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center" style="margin: 0;">
                <div class="box-question">
                    <form>
                        <div class="form-group">
                            <label for="question">Which of the following is the capital of France?</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="a" value="a">
                                <label class="form-check-label" for="option1">a. @MappingPost</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="b" value="b">
                                <label class="form-check-label" for="option2">b. @GetMapping</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="c" value="c">
                                <label class="form-check-label" for="option3">c. @PostRequest</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="d" value="d">
                                <label class="form-check-label" for="option4">d. @PostMapping</label>
                            </div>
                        </div>

                        <div class="lesson-Btn">
                            <div id="cekJawaban2" class="displayBtn active" data-target="#modalCekJawaban">
                                <button id="checkAnswerButton" type="button" class="btn button-edit btn-block">Cek
                                    Jawaban</button>
                            </div>
                            <div id="afterJawaban2" class="displayBtn">
                                <div class="prevButton">
                                    <button id="leftButton" class="btn button-edit" type="button"
                                            onclick="previousToLesson1()">
                                        << Sebelumnya</button>
                                </div>
                                <div class="nextButton">
                                    <button id="rightButton" class="btn button-edit" type="button"
                                            onclick="nextToLesson3()">Selanjutnya >></button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div id="soal3" class="displayLesson">
            <div class="row justify-content-center align-items-center lesson-title" style="margin: 0;padding: 0;">
                Basic - basic Springboot 1 (3/3)
            </div>

            <div class="row justify-content-center align-items-center" style="margin:0">
                <div class="box-materi">
                    Untuk memulai sebuah aplikasi menggunakan framework Springboot, kita hanya perlu masuk ke
                    website <a target="_blank" href="https://start.spring.io/">https://start.spring.io/ </a> yang
                    dimana halaman website tersebut akan terlihat seperti ini
                    : <br><br>
                    <div class="row" style="margin: 0;margin-bottom: 20px;">
                        <img class="image-lesson" style="margin-left: 0px;"
                             src="https://cdn.discordapp.com/attachments/1218810212824125511/1226454363711737887/B3.png?ex=6624d3a2&is=66125ea2&hm=f6dc5b38f5ff6c47ee2cfc156c9a36b8d2b10848e8c034bc3d2ba6ba76252c18&" />
                    </div> <br>
                    Pada bagian “Project”, kita perlu menentukan build manager apa yang akan digunakan untuk
                    aplikasi kita, terdapat beberapa pilihan diantaranya “Gradle-Groovy”, “Gradle-Kotlin”, dan
                    “Maven”.<br> <br>
                    Pada bagian “Language”, kita dapat menentukan bahasa pemrograman untuk aplikasi kita, baik Java,
                    Kotlin, maupun Groovy”. <br> <br>
                    Pada bagian “Spring Boot”, kita akan menentukan versi framework Springboot yang akan digunakan
                    sesuai keinginan kita. <br> <br>
                    Pada bagian “Project Metadata” akan mengisi detail dari setiap field seperti ingin membuat
                    project dalam Java, dan diakhir akan menentukan versi Java sesuai keinginan. <br> <br>
                    Setelah semua terisi dan terpilih, langkah selanjutnya adalah menambah dependency yang
                    diperlukan sesuai kebutuhan aplikasi. <br> <br>
                    Langkah terakhir adalah menekan tombol “Generate” dan framework Springboot akan terunduh dalam
                    format Zip, kemudian kita hanya perlu mengekstrak file tersebut dan membukanya menggunakan IDE
                    masing-masing. <br> <br>
                </div>
            </div>
            <div class="row justify-content-center align-items-center" style="margin: 0;">
                <div class="box-question">
                    <form>
                        <div class="form-group">
                            <label for="question">Which of the following is the capital of France?</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="a" value="a">
                                <label class="form-check-label" for="option1">a. Start.spring.io</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="b" value="b">
                                <label class="form-check-label" for="option2">b. Setup.spring.io</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="c" value="c">
                                <label class="form-check-label" for="option3">c. Spring.initializr.com</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="d" value="d">
                                <label class="form-check-label" for="option4">d. Start.spring.com</label>
                            </div>
                        </div>

                        <div class="lesson-Btn">
                            <div id="cekJawaban3" class="displayBtn active" data-target="#modalCekJawaban">
                                <button id="checkAnswerButton" type="button" class="btn button-edit btn-block">Cek
                                    Jawaban</button>
                            </div>
                            <div id="afterJawaban3" class="displayBtn">
                                <div class="prevButton">
                                    <button id="leftButton" class="btn button-edit" type="button"
                                            onclick="previousToLesson2()">
                                        << Sebelumnya</button>
                                </div>
                                <div class="nextButton">
                                    <button id="rightButton" class="btn button-edit" type="button"
                                            onclick="finish()">Finish</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

<!-- MODAL Tambah Life -->
<div class="modal fade" id="modalTambahLife" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="text-align: center;margin: 0 auto;font-weight: bold;">Konfirmasi
                    Penambahan Kesempatan</h5>
            </div>
            <div class="modal-body" style="text-align: center;">
                <p>Tambah 1 kesempatan?</p>
                <p>Harga : <img
                        src="/Assets/coin.png"
                        style="width: 20px;" /> 200</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Tambah</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL PEMBELIAN LIFE -->

<!-- MODAL CEK JAWABAN -->
<div class="modal fade" id="modalCekJawaban" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="text-align: center;margin: 0 auto;font-weight: bold;">Jawaban
                    Anda
                    Benar</h5>
            </div>
            <div class="modal-body" style="text-align: center;">
                <img style="width: 300px;"
                     src="/Assets/True.png">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL CEK JAWABAN -->

<footer class="footer">
    <div class="row justify-content-center align-items-center" style="width: 100%;margin:0;">
        <h5 style="color: white;margin-top: 20px;">Contact Us</h5>
    </div>
    <div class="row justify-content-center align-items-center" style="width: 100%;margin:0;height: 70px;">
        <a href="mailto:springbootlearn9@gmail.com">
            <p style="font-size: 14px;">springbootlearn9@gmail.com</p>
        </a>
    </div>
    <div class="row justify-content-center align-items-center"
         style="background-color: rgb(0, 0, 0); margin-top: 20px;width: 100%;margin:0">
        <p class="text-muted" style="padding: 5px;font-size: 14px;">Copyright @2024 All Rights Reserved.</p>
    </div>
</footer>
<script>
    // MODAL CHANGE BUTTON
    function replaceButtonCekJawaban(id) {
        var IdBtnCekJawaban = "cekJawaban" + id;
        var IdBtnAfterJawaban = "afterJawaban" + id;
        var BtnCekJawaban = document.getElementById(IdBtnCekJawaban);
        var BtnAfterJawaban = document.getElementById(IdBtnAfterJawaban);
        BtnCekJawaban.classList.remove('active'); //remove active class
        BtnAfterJawaban.classList.add('active'); //add active class
    }

    document.querySelectorAll(".displayBtn").forEach(function (element) {
        element.addEventListener("click", function () {
            var target = this.getAttribute("data-target");
            var id = this.id.slice(-1);
            $(target).modal('show');

            $(target).on('hidden.bs.modal', function (e) {
                replaceButtonCekJawaban(id);
            });
        });
    });
    // END MODAL CHANGE BUTTON


    // NEXT TO ANOTHER LESSON
    function nextToLesson2() {
        var soal1 = document.getElementById('soal1');
        var soal2 = document.getElementById('soal2');
        soal1.classList.remove('show');
        soal2.classList.add('show');
    }
    function nextToLesson3() {
        var soal2 = document.getElementById('soal2');
        var soal3 = document.getElementById('soal3');
        soal2.classList.remove('show');
        soal3.classList.add('show');
    }
    function previousToLesson1() {
        var soal1 = document.getElementById('soal1');
        var soal2 = document.getElementById('soal2');
        soal2.classList.remove('show');
        soal1.classList.add('show');
    }
    function previousToLesson2() {
        var soal2 = document.getElementById('soal2');
        var soal3 = document.getElementById('soal3');
        soal3.classList.remove('show');
        soal2.classList.add('show');
    }
    function finish() {
        window.location.href = "/home";
    }
    // END NEXT TO ANOTHER LESSON
</script>
</body>


</html>