<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lessons.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a59b9b09ab.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>Spring Boot Learn</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #070F2B; font-weight:bold;width: 100%;">
    <a class="navbar-brand" href="/home">
        <img class="logo"
             src="/Assets/logoSpringBoot.png"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item-sb">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item-sb ">
                <a class="nav-link" href="/leaderboard">Leaderboard</a>
            </li>
            <li class="nav-item-sb">
                <a class="nav-link" href="/profile">
                    John Doe
                    <img class="profile-pic"
                         src="/Assets/profile.png"/></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button type="button" class="btn btn-outline-danger my-2 my-sm-0"
                    onclick="window.location.href='/login';">Log Out
            </button>
        </form>
    </div>
</nav>
<!-- START BOX MATERI -->
<div class="row justify-content-center align-items-center" style="margin: 0;">
    <div class="box-lesson">
        <div class="row align-items-center heading-materi" style="margin: 0;">
            <div class="col-md-3">
                <div class="backBtn">
                    <a style="color: white; font-size: 14px;font-weight: bold;" href="/home"><img
                            src="/Assets/kembali.png"
                            style="width: 25px;margin-right: 10px;">Kembali</a>
                </div>
            </div>

            <div class="col-md-9" style="margin: 0;padding: 0;">
                <div class="d-flex justify-content-end" style="margin: 0;">
                    <div class="coin text-center">
                        <img src="/Assets/coin.png"
                             style="width: 25px;"/>
                        999
                    </div>
                    <div class="life text-center" data-target="#modalTambahLife" data-toggle="modal"
                         style="cursor:pointer">
                        <img id="life1"
                             src="/Assets/Life.png"
                             style="width: 25px;margin-left: 5px;">
                        <img id="life2"
                             src="/Assets/Life.png"
                             style="width: 25px;margin-left: 5px;">
                        <img id="life3"
                             src="/Assets/emptylife.png"
                             style="width: 25px;margin-left: 5px;">
                        <img id="addLife"
                             src="/Assets/addLife.png"
                             style="width: 25px;margin-left: 15px;">
                    </div>
                </div>
            </div>

        </div>

        <div id="soal1" class="displayLesson show">
            <div class="row justify-content-center align-items-center lesson-title" style="margin: 0;">
                Basic - basic Springboot 1 (1/3)
            </div>

            <div class="row justify-content-center align-items-center" style="margin:0">
                <div class="box-materi">
                    Untuk mengimplementasikan metode “Create” dengan database, kita perlu menyiapkan class-class
                    terkait, yaitu Entity terkait database, Repository terkait perantara antara database dan
                    aplikasi springboot, dan Service untuk mengolah data dari database. Karena class Entity dan
                    Repository telah dibuat pada materi sebelumnya, maka pada materi ini akan ditampilkan bagaimana
                    cara membuat service pada aplikasi springboot dengan mengimplementasikan metode “Create”.
                    <br><br>
                    <div class="row" style="margin: 0;margin-bottom: 20px;">
                        <img class="image-lesson"
                             src="https://cdn.discordapp.com/attachments/1218810212824125511/1226459111986696243/image.png?ex=6624d80e&is=6612630e&hm=ef1fc8b10423e1bdf000224d84d79119877855ac5bb207d625add5f6a20d7fbb&"/>
                    </div>
                    <br>
                    Kita perlu mendefinisikan class service dengan annotation @Service terlebih dahulu kemudian
                    memanggil class repository dengan nama “ProductRepository” dan memberikan annotation @Autowired.
                    Penambahan @Autowired ini bertujuan untuk menginjeksi class “ProductService” dengan dependency
                    yang ada pada class “ProductRepository”.
                    Kemudian membuat sebuah method untuk melaksanakan metode “Create” dengan nama “saveProduct” dan
                    parameter berupa entity Product. Untuk metode “Create” hanya perlu memanggil kembali repository
                    yang telah di deklarasi diatas dengan nama “productRepository” dan menggunakan fungsi bawaan
                    dari repository yaitu “.save()” dengan parameter di dalam fungsi “.save()” tersebut adalah
                    “product”. Dengan ini, method saveProduct memiliki tugas untuk menyimpan entity Product (Id,
                    productName, dan price) ke dalam database dengan fungsi .save(). <br>
                </div>
            </div>
            <div class="row justify-content-center align-items-center" style="margin: 0;">
                <div class="box-question">
                    <form>
                        <div class="form-group">
                            <label for="question">Which of the following is the capital of France?</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="a" value="a">
                                <label class="form-check-label" for="option1">a. Tidak, karena repository telah
                                    memiliki fungsi “.save()” yang merupakan fungsi otomatis dari repository
                                    JPA.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="b" value="b">
                                <label class="form-check-label" for="option2">b. Ya, karena repository belum
                                    memiliki fungsi “.save()”</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="c" value="c">
                                <label class="form-check-label" for="option3">c. Ya, karena tidak ada fungsi
                                    “.save()” pada Springboot dengan repository JPA</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="d" value="d">
                                <label class="form-check-label" for="option4">d. Tidak, karena repository JPA
                                    memiliki fungsi “.save” dan bukan “.save()”</label>
                            </div>
                        </div>

                        <div class="lesson-Btn">
                            <div id="cekJawaban1" class="displayBtn active" data-target="#modalCekJawaban">
                                <button id="checkAnswerButton" type="button" class="btn button-edit btn-block">Cek
                                    Jawaban
                                </button>
                            </div>
                            <div id="afterJawaban1" class="displayBtn">
                                <div class="prevButton">
                                    <button id="leftButton" class="btn button-edit" disabled>
                                        << Sebelumnya
                                    </button>
                                </div>
                                <div class="nextButton">
                                    <button id="rightButton" class="btn button-edit" type="button"
                                            onclick="nextToLesson2()">Selanjutnya >>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div id="soal2" class="displayLesson">
            <div class="row justify-content-center align-items-center lesson-title" style="margin: 0;">
                Basic - basic Springboot 1 (2/3)
            </div>

            <div class="row justify-content-center align-items-center" style="margin:0">
                <div class="box-materi">
                    <div class="row" style="margin: 0;margin-bottom: 20px;">
                        <img class="image-lesson"
                             src="https://cdn.discordapp.com/attachments/1218810212824125511/1226459431357648916/image.png?ex=6624d85a&is=6612635a&hm=f410be5276153b0e16aa290fa6b6ea5ee107d44148da3813410beea957211e35&"/>
                    </div>
                    Untuk mengimplementasikan fungsi “Read” untuk seluruh data, maka kita perlu membuat method yang
                    bertipe data List dengan tipe data List tersebut adalah Entity yang kita tuju. Kemudian method
                    ini akan mengembalikan keseluruhan data dengan memanggil kembali nama repository yaitu
                    “productRepository” dan menggunakan fungsi bawaan repository yaitu “.findAll()” untuk menemukan
                    seluruh data. <br> <br>

                    Apabila hanya ingin melakukan “Read” pada data dengan parameter tertentu, maka repository juga
                    memiliki fungsi otomatis, contohnya adalah findById(id) jika parameter tersebut adalah Id.
                    <br><br>
                    <div class="row" style="margin: 0;margin-bottom: 20px;">
                        <img class="image-lesson"
                             src="https://cdn.discordapp.com/attachments/1218810212824125511/1226459636698447914/image.png?ex=6624d88b&is=6612638b&hm=8daea8703b0aba1526314f2911888a5f5262d7df252aa1878f92394cb6a74134&"/>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center" style="margin: 0;">
                <div class="box-question">
                    <form>
                        <div class="form-group">
                            <label for="question">Which of the following is the capital of France?</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="a" value="a">
                                <label class="form-check-label" for="a">a. Tidak, karena repository telah
                                    memiliki fungsi “.findAll()” dan “.findById()” yang merupakan fungsi otomatis
                                    dari repository JPA.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="b" value="b">
                                <label class="form-check-label" for="b">b. Ya, karena repository belum
                                    memiliki fungsi “.findAll()” dan “.findById()”</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="c" value="c">
                                <label class="form-check-label" for="c">c. Ya, karena tidak ada fungsi
                                    “.findAll()” dan “.findById()” pada Springboot dengan repository JPA</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="d" value="d">
                                <label class="form-check-label" for="d">d. Ya, karena repository JPA memiliki
                                    fungsi “.findAll” dan “.findById” dan bukan “.findAll()” dan
                                    “.findById()”</label>
                            </div>
                        </div>

                        <div class="lesson-Btn">
                            <div id="cekJawaban2" class="displayBtn active" data-target="#modalCekJawaban">
                                <button id="checkAnswerButton" type="button" class="btn button-edit btn-block">Cek
                                    Jawaban
                                </button>
                            </div>
                            <div id="afterJawaban2" class="displayBtn">
                                <div class="prevButton">
                                    <button id="leftButton" class="btn button-edit" type="button"
                                            onclick="previousToLesson1()">
                                        << Sebelumnya
                                    </button>
                                </div>
                                <div class="nextButton">
                                    <button id="rightButton" class="btn button-edit" type="button"
                                            onclick="nextToLesson3()">Selanjutnya >>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div id="soal3" class="displayLesson">
            <div class="row justify-content-center align-items-center lesson-title" style="margin: 0;padding: 0;">
                Basic - basic Springboot 1 (3/3)
            </div>

            <div class="row justify-content-center align-items-center" style="margin:0">
                <div class="box-materi">
                    Untuk implementasi metode “Update” sama seperti “Create” yaitu menggunakan fungsi “.save()”.
                    Perbedaannya adalah apabila saat “.save()” dijalankan dan tidak ada data yang sesuai dengan Id
                    yang dikirim melalui parameter, maka fungsi “.save()” akan menyimpan data sebagai data baru.
                    Sebaliknya juga apabila terdapat data yang sesuai dengan Id yang dikirim melalui parameter, maka
                    fungsi “.save()” akan menyimpan data sebagai pembaruan data dengan Id tersebut. <br>
                </div>
            </div>
            <div class="row justify-content-center align-items-center" style="margin: 0;">
                <div class="box-question">
                    <form>
                        <div class="form-group">
                            <label for="question">Which of the following is the capital of France?</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="a" value="a">
                                <label class="form-check-label" for="a">a. “.save()” akan melakukan “Create” apabila
                                    entitas tersebut belum ada pada database dan “Update” apabila entitas tersebut
                                    sudah ada pada database.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="b" value="b">
                                <label class="form-check-label" for="b">b. “.save()” akan melakukan “Create” dan
                                    “.update()” akan melakukan “Update”</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="c" value="c">
                                <label class="form-check-label" for="c">c. “.save()” akan melakukan “Create” dan
                                    “.saveAndUpdate()” akan melakukan “Update”</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="d" value="d">
                                <label class="form-check-label" for="d">d. “.submit()” akan melakukan “Create” dan
                                    “.save()” akan melakukan “Update”</label>
                            </div>
                        </div>

                        <div class="lesson-Btn">
                            <div id="cekJawaban3" class="displayBtn active" data-target="#modalCekJawaban">
                                <button id="checkAnswerButton" type="button" class="btn button-edit btn-block">Cek
                                    Jawaban
                                </button>
                            </div>
                            <div id="afterJawaban3" class="displayBtn">
                                <div class="prevButton">
                                    <button id="leftButton" class="btn button-edit" type="button"
                                            onclick="previousToLesson2()">
                                        << Sebelumnya
                                    </button>
                                </div>
                                <div class="nextButton">
                                    <button id="rightButton" class="btn button-edit" type="button"
                                            onclick="nextToLesson4()">Selanjutnya >>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div id="soal4" class="displayLesson">
            <div class="row justify-content-center align-items-center lesson-title" style="margin: 0;padding: 0;">
                Basic - basic Springboot 1 (4/4)
            </div>

            <div class="row justify-content-center align-items-center" style="margin:0">
                <div class="box-materi">
                    Untuk implementasi metode “Delete”, terdapat fungsi otomatis dari repository, yaitu
                    “.deleteById(id)”. Fungsi otomatis ini berfungsi untuk menghapus data sesuai dengan parameter
                    yang dilempar (dalam contoh ini adalah Id). <br> <br>
                    <div class="row" style="margin: 0;margin-bottom: 20px;">
                        <img class="image-lesson"
                             src="https://cdn.discordapp.com/attachments/1218810212824125511/1226460198038671380/image.png?ex=6624d911&is=66126411&hm=98aa01da12d523e8a5db19c1a383616cb55c68d3cb20d5da4f256ecd1c3853d3&"/>
                    </div>
                    Cara penggunaannya sama seperti fungsi otomatis lain, yaitu dengan memanggil repository yang
                    telah dideklarasi sebelumnya kemudian menambahkan fungsi otomatis delete, yaitu “.deleteById()”.
                    <br>
                </div>
            </div>
            <div class="row justify-content-center align-items-center" style="margin: 0;">
                <div class="box-question">
                    <form>
                        <div class="form-group">
                            <label for="question">Which of the following is the capital of France?</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="a" value="a">
                                <label class="form-check-label" for="a">a. Tidak, karena repository telah memiliki
                                    fungsi “.deleteById()” yang merupakan fungsi otomatis dari repository
                                    JPA.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="b" value="b">
                                <label class="form-check-label" for="b">b. Ya, karena repository belum memiliki
                                    fungsi “.deleteById()”</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="c" value="c">
                                <label class="form-check-label" for="c">c. Ya, karena tidak ada fungsi otomatis
                                    “.deleteById()” pada Springboot dengan repository JPA</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="answer" id="d" value="d">
                                <label class="form-check-label" for="d">d. Ya, karena repository JPA memiliki fungsi
                                    “.deleteById” dan bukan “.deleteById()”</label>
                            </div>
                        </div>

                        <div class="lesson-Btn">
                            <div id="cekJawaban4" class="displayBtn active" data-target="#modalCekJawaban">
                                <button id="checkAnswerButton" type="button" class="btn button-edit btn-block">Cek
                                    Jawaban
                                </button>
                            </div>
                            <div id="afterJawaban4" class="displayBtn">
                                <div class="prevButton">
                                    <button id="leftButton" class="btn button-edit" type="button"
                                            onclick="previousToLesson3()">
                                        << Sebelumnya
                                    </button>
                                </div>
                                <div class="nextButton">
                                    <button id="rightButton" class="btn button-edit" type="button"
                                            onclick="finish()">Finish
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

<!-- MODAL Tambah Life -->
<div class="modal fade" id="modalTambahLife" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="text-align: center;margin: 0 auto;font-weight: bold;">Konfirmasi
                    Penambahan Kesempatan</h5>
            </div>
            <div class="modal-body" style="text-align: center;">
                <p>Tambah 1 kesempatan?</p>
                <p>Harga : <img
                        src="/Assets/coin.png"
                        style="width: 20px;"/> 200</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Tambah</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL PEMBELIAN LIFE -->

<!-- MODAL CEK JAWABAN -->
<div class="modal fade" id="modalCekJawaban" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="text-align: center;margin: 0 auto;font-weight: bold;">Jawaban
                    Anda
                    Benar</h5>
            </div>
            <div class="modal-body" style="text-align: center;">
                <img style="width: 300px;"
                     src="/Assets/True.png">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL CEK JAWABAN -->

<footer class="footer">
    <div class="row justify-content-center align-items-center" style="width: 100%;margin:0;">
        <h5 style="color: white;margin-top: 20px;">Contact Us</h5>
    </div>
    <div class="row justify-content-center align-items-center" style="width: 100%;margin:0;height: 70px;">
        <a href="mailto:springbootlearn9@gmail.com">
            <p style="font-size: 14px;">springbootlearn9@gmail.com</p>
        </a>
    </div>
    <div class="row justify-content-center align-items-center"
         style="background-color: rgb(0, 0, 0); margin-top: 20px;width: 100%;margin:0">
        <p class="text-muted" style="padding: 5px;font-size: 14px;">Copyright @2024 All Rights Reserved.</p>
    </div>
</footer>
<script>
    // MODAL CHANGE BUTTON
    function replaceButtonCekJawaban(id) {
        var IdBtnCekJawaban = "cekJawaban" + id;
        var IdBtnAfterJawaban = "afterJawaban" + id;
        var BtnCekJawaban = document.getElementById(IdBtnCekJawaban);
        var BtnAfterJawaban = document.getElementById(IdBtnAfterJawaban);
        BtnCekJawaban.classList.remove('active'); //remove active class
        BtnAfterJawaban.classList.add('active'); //add active class
    }

    document.querySelectorAll(".displayBtn").forEach(function (element) {
        element.addEventListener("click", function () {
            var target = this.getAttribute("data-target");
            var id = this.id.slice(-1);
            $(target).modal('show');

            $(target).on('hidden.bs.modal', function (e) {
                replaceButtonCekJawaban(id);
            });
        });
    });
    // END MODAL CHANGE BUTTON


    // NEXT TO ANOTHER LESSON
    function nextToLesson2() {
            var soal1 = document.getElementById('soal1');
            var soal2 = document.getElementById('soal2');
            soal1.classList.remove('show');
            soal2.classList.add('show');
        }
        function nextToLesson3() {
            var soal2 = document.getElementById('soal2');
            var soal3 = document.getElementById('soal3');
            soal2.classList.remove('show');
            soal3.classList.add('show');
        }
        function nextToLesson4(){
            var soal3 = document.getElementById('soal3');
            var soal4 = document.getElementById('soal4');
            soal3.classList.remove('show');
            soal4.classList.add('show');
        }
        function previousToLesson1() {
            var soal1 = document.getElementById('soal1');
            var soal2 = document.getElementById('soal2');
            soal2.classList.remove('show');
            soal1.classList.add('show');
        }
        function previousToLesson2() {
            var soal2 = document.getElementById('soal2');
            var soal3 = document.getElementById('soal3');
            soal3.classList.remove('show');
            soal2.classList.add('show');
        }
        function previousToLesson3(){
            var soal3 = document.getElementById('soal3');
            var soal4 = document.getElementById('soal4');
            soal3.classList.add('show');
            soal4.classList.remove('show');
        }
    function finish() {
        window.location.href = "/home";
    }
    // END NEXT TO ANOTHER LESSON
</script>
</body>


</html>