<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/newPasswordOTP.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>Spring Boot Learn</title>
</head>

<body class="background-auth">
<div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="box-newPassword">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row justify-content-center" style="margin-top: 15px; height:auto;">
                        <p class="title_page">Password Baru</p>
                    </div>
                    <hr class="horizontal-line">

                    <div class="row justify-content-center">
                        <p class="description">Masukkan kode 6 digit yang akan dikirim ke alamat email terdaftar setelah
                            menekan tombol "Send OTP"
                        </p>
                    </div>

                    <div class="row justify-content-center">
                        <form class="px-5 py-3 form-css" action="/validateOtp" method="post" novalidate>
                            <div class="form-group text-center">
                                <input type="text" class="form-control text-center" id="otp" name="otp"
                                       placeholder="Kode 6 digit">
                                <span th:text="${notMatch}" style="color:yellow;font-size:12px"></span>
                                <!-- Auto UPPERCASE -->
                                <script>
                                    var input = document.getElementById('otp');
                                    input.addEventListener('input', function (event) {
                                        this.value = this.value.toUpperCase();
                                    })
                                </script>

                                <br>
                                <div class="row justify-content-center" style="margin: 0;margin-top:10px">
                                    <button id="resendBtn" class="btn button-edit" type="button" onclick="resendOtp()">
                                        Resend OTP
                                    </button>
                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col">
                                        <a class="btn btn-cancel" href="/login">Cancel</a>
                                    </div>

                                    <div class="col text-right">
                                        <button class="btn btn-next" type="submit">Next</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row justify-content-center">
                        <p id="timer"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script>
    function resendOtp() {
        const form = document.querySelector('.form-css');
        form.action = '/resendOtp'; // Set the action to "/resendOtp"
        form.method = 'post'; // Set the method to "post"
        form.submit(); // Submit the for

        document.getElementById('resendBtn').disabled = true;
        const timerElement = document.getElementById('timer');
        timerElement.textContent = `Mengirim ulang OTP...`;
    }
</script>
</body>

</html>